.App {
  text-align: center;
}

table {
  display: inline-block;
  background-color: #eeeeee;

  border-style: outset;
  border-width: 2px;
}

th {
  border-style: outset;
  border-width: 2px;
}

td {
  border-style: outset;
  border-width: 2px;
}

td:active {
  border-style: inset;
}
