.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.marimba-container {
  background-color: #282c34;
  position: relative;
  font-size: calc(10px + 2vmin);
  color: white;
}

.marimba {
  width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.keys {
    border-radius: 10px 10px;
    position: absolute;
    z-index: 1;
}

.key-one {
    width: 2.9%;
    height: 76%;
    background-color: blueviolet;
    left: 6.1%;
    top: 6%;
}

.key-two {
    width: 2.9%;
    height: 72.7%;
    background-color: blueviolet;
    left: 9.9%;
    top: 8.2%;
}
